.navbar-default .navbar-collapse,.navbar-default .navbar-form{border-color:none;}

@font-face {
  font-family: 'bbva-regular';
  src: url("../fonts/bbvaweb-book.eot");
  src: url("../fonts/bbvaweb-book.eot?#iefix") format("embedded-opentype"), url("../fonts/bbvaweb-book.woff") format("woff"), url("../fonts/bbvaweb-book.ttf") format("truetype"), url("../fonts/bbvaweb-book.svg#StagSansBook") format("svg");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}
@font-face {
  font-family: 'bbva-bold';
  src: url("../fonts/bbvaweb-semibold.eot");
  src: url("../fonts/bbvaweb-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/bbvaweb-semibold.woff") format("woff"), url("../fonts/bbvaweb-semibold.ttf") format("truetype"), url("../fonts/bbvaweb-semibold.svg#StagSansBook") format("svg");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

.panel .panel-heading{
  background: #4189be;
  background-color: #4189be;
}
.selectPanel{
  background: #00588d !important;
  background-color: #00588d !important;
}
.panel .panel-heading.titulo , .titulo{
background: rgba(65,138,190,1);
background: -moz-linear-gradient(top, rgba(65,138,190,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(65,138,190,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(65,138,190,1) 0%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(65,138,190,1) 0%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(65,138,190,1) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(65,138,190,1) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#418abe', endColorstr='#ffffff', GradientType=0 );
}
.panel-heading h4{
  color: #ffffff;
  text-align: center;
  font-size: 12px;
}
.panel .SubMenus{
  font-size: 10px;
}
 #bs-example-navbar-collapse-1{
  /*color: #fff;*/
  background: #4189be;
  background-color: #4189be;
  padding-top: 5px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background-color: none;
  
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  background-color: #00588d;
}
nav .SubMenus li a{
  color: #000000;
}
